@font-face {
    font-family: 'p22_underground_cy_prodemi';
    src: url('../fonts/P22UndergroundCYPro-Demi.woff2') format('woff2'),
    url('../fonts/P22UndergroundCYPro-Demi.woff') format('woff'),
    url('../fonts/P22UndergroundCYPro-Demi.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'p22_underground_cy_probook';
    src: url('../fonts/P22UndergroundCYPro-Book.woff2') format('woff2'),
    url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'),
    url('../fonts/P22UndergroundCYPro-Book.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Теперь можно использовать шрифт */


.content-fade {
    scroll-behavior: smooth;
    animation: fade-in .4s ease;
}


.centered_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*min-height: 100vh;*/
}


#sec {
    background: #fff;
    text-align: center;
    vertical-align: center;
    align-items: center;
    word-wrap: break-word;
    transition: all .3s linear;

}

#sec ul {
    margin: 0 0 20px 0 ;
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: all .3s linear;
}

#sec ul li {
    text-align: center;
    height: 150px;
    width: 150px;
    vertical-align: middle;
    transition: all .3s linear;
    filter: grayscale(100%);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    transition: all .3s linear;
}

#sec ul:hover li {
    transition: all .3s linear;


}

#sec ul li:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    scale: 110%;
    filter: blur(0) grayscale(0);
    transition: all .3s linear;

}


#sec ul li p {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 16px;
    margin-top: 15px;
    transition: .05s ease-in-out;
    color: #5c636a;
    text-transform: uppercase;
}

#sec ul li:hover p {
    font-family: "p22_underground_cy_probook", serif;
    font-size: 16px;
    margin-top: 15px;
    transition: color 0.3s ease-in-out;
    color: black;
    text-transform: uppercase;
}

