{% extends "start_page_app/base.html" %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
    <div class="centered_div">
        <div class="center_menu">
            <div style="height: 70px; margin-bottom: 75px">
                <img src="{% static 'start_page_app/icons/logo.png' %}" style="height: 100%">
            </div>

            <div class="list-emp">
                {% for link in links %}
                    <div class="element_full" onclick="location.href='{{ link.link }}'">
                        <div class="element_content">
                            <img src="{{ link.image.url }}">
                            <span>{{ link.name }} </span>
                        </div>
                    </div>
                {% endfor %}
                {% for i in none_list %}
                    <div class="element_full">
                        <div class="element_content">
                            <img src="{% static 'start_page_app/icons/border-none-svgrepo-com.svg' %}">
                            <span>--DDD-- </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

